.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23em;
  height: 30em;
  margin: 8% auto;
  background-color: #1d1e3d;
  border-radius: 5%;
  box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
}

.containerLight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23em;
  height: 30em;
  margin: 8% auto;
  background-color: #ffedd5;
  border-radius: 5%;
  box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -3px 26px -1px rgba(0, 0, 0, 0.75);
}
